<% if current_user %>
    <div id="mySidenav" class="sidenav col-md-2">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
<% end  %>